.todo-wrapper {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-span {
  width: 450px;
  height: 30px;
  border: 2px solid black;
  padding-right: 5px;
  margin-right: 10px;
}

.todo-span-done {
  width: 450px;
  height: 30px;
  border: 2px solid black;
  padding-right: 5px;
  margin-right: 10px;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

button {
  background-color: darkred;
  color: white;
  border: none;
  width: 45px;
  height: 34px;
  margin-left: 5px;
}